.pln {
    color: #000000;
}

/*
@media screen {
    .prettyprint .str {
        color: #080;
    }
    .prettyprint .kwd {
        color: #008;
    }
    .prettyprint .com {
        color: #800;
    }
    .prettyprint .typ {
        color: #606;
    }
    .prettyprint .lit {
        color: #066;
    }
    .prettyprint .pun,
    .prettyprint .opn,
    .prettyprint .clo {
        color: #660;
    }
    .prettyprint .taa {
        color: #008;
    }
    .prettyprint .atn {
        color: #606;
    }
    .prettyprint .atv {
        color: #080;
    }
    .prettyprint .dec, .prettyprint .var {
        color: #606;
    }
    .prettyprint .fun {
        color: red;
    }
}

@media print , projection {
    .prettyprint .str {
        color: #060;
    }
    .prettyprint .kwd {
        color: #006;
        font-weight: bold;
    }
    .prettyprint .com {
        color: #600;
        font-style: italic
    }
    .prettyprint .typ {
        color: #404;
        font-weight: bold
    }
    .prettyprint .lit {
        color: #044
    }
     .prettyprint .pun, .prettyprint .opn, .prettyprint.clo {
        color: #440
    }
    .prettyprint .taa {
        color: #006;
        font-weight: bold;
    }
    .prettyprint .atn {
        color: #404;
    }
    .prettyprint .atv {
        color: #060;
    }
}*/

.com {
    color: #93a1a1;
}

.lit {
    color: #195f91;
}

.pun,
.opn,
.clo {
    color: #93a1a1;
}

.fun {
    color: #dc322f;
}

.str, .atv {
    color: #268bd2;
}

.kwd, .taa {
    color: #195f91;
}

.typ,
.atn,
.dec,
.var {
    color: #cb4b16;
}
.pln {
    color: #93a1a1;
}


/* TENHO DE MELHORAR ESTE CSS */




ol.linenums {
    color: #aaaaaa;
    margin-bottom: 0;
    margin-top: 0;
}
